

<div class="tt-primary fixed-bottom">
    <NavLink href="/">
 <span class="position-absolute top-0 start-50 translate-middle badge rounded-pill tt-secondary">
        <h5 class="m-3 text-center">Timer <span class="oi oi-timer"></span></h5>
 </span>
 </NavLink>
 <br/>
    <div class="d-flex justify-content-around">
      <div class="mt-4 mb-2">
          <NavLink href="counter">
            <button class="h6 border-0 rounded-pill tt-sub p-3">Subjects <span class="oi oi-justify-left"></span></button>
            </NavLink>
      </div>
        <div class="mt-4 mb-2">
            <NavLink href="fetchdata">
                <button class="h6 border-0 rounded-pill tt-sub p-3">History <span class="oi oi-bar-chart"></span></button>
            </NavLink>
        </div>
        <div class="mt-4 mb-2">
            <NavLink href="counter">
            <button class="h6 border-0 rounded-pill tt-sub p-3">Personal <span class="oi oi-person"></span></button>
            </NavLink>
        </div>
  </div>
</div>