@page "/history"
<div class="d-flex justify-content-around tt-primary pt-3 pb-2">

    <p class="display-1 p-1">
        <span class="oi oi-arrow-circle-right pt-3" style="color: #009688"></span>
    </p>
    <h1 class="pt-4 tt-sub w-50 text-center">History</h1>
    <p class="display-1 p-1">
        <span class="oi oi-arrow-circle-left pt-3" style="color: #009688"></span>
    </p>
</div>

<ConnectedBar />
<h1>Hier komt history</h1>