@page "/personal"
<div class="tt-primary">
    <br/>
    <img class=" mt-2 mx-auto d-block w-50 h-50 rounded-circle" src="https://cdn.vectorstock.com/i/preview-1x/15/40/blank-profile-picture-image-holder-with-a-crown-vector-42411540.jpg">
    <p class="text-white p-3 display-4  text-center">John Doe</p>
    <div class="tt-secondary">
        <p class=" p-3 h-1  text-center">School name</p>
    </div>
</div>
<div class="container">
    <div class="container tt-sub">
        <h4 class="pt-3">Password</h4>
        <form>
            <div class="mb-3">
                <input type="password" class="form-control" id="passwordold" placeholder="Password">
            </div>
            <div class="mb-3">
                <input type="password" class="form-control" id="passwordnew" placeholder="New Password">
            </div>
            <div class="mb-3">
                <input type="password" class="form-control" id="passwordcheck" placeholder="New Password (again)">
            </div>
            <button class="h6 border-0 rounded-pill tt-primary text-white p-2 mb-3">Save changes</button>
        </form> 
    </div>
</div>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

