.tt-primary {
    background-color:#009688;
}

.tt-secondary {
    background-color: #FFC107;
    color: white;
}

.tt-tertiary {
    background-color: #03A9F4;
}

.tt-sub {
    background-color: #F5F5F5;
    color: #333333;
}

.tt-sub2 {
    background-color: #333333;
    color: #F5F5F5;
}

